body{
    background-color:#191a19;
}

.title-login{
    font-family: 'Denk One', sans-serif;
    color:aliceblue;
    text-align:center;
    padding-top: 150px;
}

.Name-login{
    text-align:center;
    border-radius: 50em;
    background-image: url("./Elementos/Icono.png");
    background-position: 10px 10px;
    background-repeat: no-repeat;
    background-position-y:8px;
    font-size:2em;
    background-size: 40px;
}

.Email-login{
    text-align: center;
    border-radius: 50em;
    background-image: url("./Elementos/Email.png");
    background-position: 10px 10px;
    background-repeat: no-repeat;
    background-position-y:5px;
    font-size:2em;
    background-size: 40px;
    

}

#buttonLogin-login{
    text-align: center;
    border-radius: 50em;
    background-color: #DFAEFF;
    font-family: 'Denk One', sans-serif;
    
}

#buttonBack-login{
    background-image: url("./Elementos/Back.png");
    background-size:10em;
    text-align: center;
    border-radius: 5em;
    background-color: #DFAEFF;
    font-family: 'Denk One', sans-serif;
    
}
